/* Gruvbox Material - Dark Medium */
* {
    font-family: "Monaspace Neon Frozen";
    font-size: 16px;
    border: none;
    border-radius: 3px;
    padding: 0 4px;
    margin: 2px;
    min-height: 0;
}

window#waybar {
    background-color: #282828;
    color: #d4be98;
    /* border-bottom: 2px solid #89b482; */
}

#workspaces button {
    background: transparent;
    color: #d4be98;
    padding: 0 6px;
}

#workspaces button.focused {
    background-color: #89b482;
    color: #282828;
    font-weight: bold;
}

#backlight,
#pulseaudio,
#battery,
#tray {
    /* background-color: #3c3836; */
    color: #d4be98;
    margin-left: 6px;
}

#battery.charging {
    color: #a9b665;
}

#battery.critical {
    color: #ea6962;
}